.agents
.ai
.claude
.idea
.git
.junie
.qoder
.swc
.next
.cursor
.mcp.json
node_modules
docs
.dockerignore
.env
.env.local
.gitignore
.prettierignore
.prettierrc
AGENTS.md
CLAUDE.md
components.json
Dockerfile
npm-debug.log
README.md
