.agents
.codex
.superpowers
.swc
.ai
.idea
.git
.junie
.qoder
.next
.cursor
.mcp.json
node_modules
docs
e2e
openspec
.dockerignore
.env
.env.local
.env.prod
.env.example
.gitignore
.prettierignore
.prettierrc
AGENTS.md
CLAUDE.md
components.json
CONTRIBUTING.md
Dockerfile
npm-debug.log
LICENSE
playwright.config.ts
README.md
SECURITY.md
skills-lock.json
