# Database
DATABASE_URL="postgresql://..."

# Better Auth Authentication
BETTER_AUTH_SECRET="..."
BETTER_AUTH_URL=http://localhost:3000
PUBLIC_BASE_URL=http://localhost:3000
GOOGLE_CLIENT_ID="..."
GOOGLE_CLIENT_SECRET="..."
PUBLIC_DEFAULT_LOCALE="en"
NEXT_PUBLIC_YM_COUNTER_ID="12345678"
