.agents
.ai
.claude
.idea
.git
.junie
.qoder
.swc
.next
deployment
scripts-runner
.cursor
.mcp.json
node_modules
docs
.dockerignore
.env
.env.local
.gitignore
.prettierignore
.prettierrc
components.json
Dockerfile
npm-debug.log
build
coverage
package-lock.json
src/components/ui
**/*.md
